<launch>
    
    <arg name="initial_pos_x" default="-1.5" />
    <arg name="initial_pos_y" default="1.5" />
    <arg name="initial_pos_a" default="0.0" />
    <arg name="mapfile" default="Maze_small" />


    <!-- Parameters -->
    <param name="initial_pos_x" value="$(arg initial_pos_x)" />
    <param name="initial_pos_y" value="$(arg initial_pos_y)" />
    <param name="initial_pos_a" value="$(arg initial_pos_a)" />


    <!-- SLAM Toolbox -->
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox_async" output="screen">
        <rosparam command="load" file="$(find simple_robot_driving)/config/slam/slam_toolbox_params.yaml" />
    </node>
    

    <!-- Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find simple_robot_driving)/rviz/robot_configuration.rviz" />


    <!-- Simulator interface -->
    <node pkg="simple_robot_driving" type="simulator_interface.py" name="simulator_interface" output="screen" />


    <!-- Simulator -->
    <node pkg="simple_robot_simulator" type="simulator.py" name="simulator" output="screen">
    <!--<node pkg="simple_robot_simulator" type="simulator_GT.py" name="simulator" output="screen">-->
        <param name="mapfile" value="$(find simple_robot_simulator)/worlds/$(arg mapfile)/model.sdf" />
    </node>

</launch>